@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #00c46a;

  --color-dark--0: #242a2e;
  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: #d6dee0;
}

input:focus {
  outline: 0;
}

.display-list li:first-of-type {
  border-left: 0;
}

/************* REACT LEAFLET CLASSES *****************/
/******* Library names are being used ********/
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: hsl(0, 0%, 17%);
  color: white;
  border-radius: 5px;
  padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.leaflet-popup .leaflet-popup-content span:first-child {
  font-size: 2.5rem;
  line-height: 1;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: hsl(0, 0%, 17%);
}

.leaflet-popup-content-wrapper {
  border-left: 5px solid #5c7be5;
}

.leaflet-control-zoom,
.leaflet-control-attribution {
  display: none;
}

/************* REACT LEAFLET CLASSES *****************/
